* {
    padding: 0;
    margin: 0;
    color: slategrey;
}

/* header */
header {
    background-color: #321E3C;
    height: 3rem;
    width: 100%;
}

nav {
    position: relative
}

header h1 {
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    width: 180px;
    min-width: 180px;
}

header ul {
    margin-top: 10px;
    display: flex;
    list-style: none;
    background-color: black;
}

header ul li {
    padding: 2px 0 2px 5px;
}

/* main */
main {
    margin-top: 1.5rem;
}