* {
    padding: 0;
    margin: 0;
    color: slategrey;
    box-sizing: border-box;
    font-family: "Trispace", sans-serif;
    font-weight: 200;
}

/* color themes: 
#27172f dark purple
#8385a5 gray
#313d53 dark blue
black <-- black duh
*/

/* utility class */
.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

/* body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
header {
    background-color: #27172f;
    width: 100%;
}

nav {
    position: relative
}

#navigation ul li:hover {
    background-color: #27172f;
    color: white;
    border-radius: 5px;
}

header h1 {
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    min-width: 300px;
    font-size: 1.5rem;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

header ul {
    padding: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    list-style: none;
    background-color: black;
}

header ul li {
    font-size: 0.8rem;
    padding: 0 8px;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: black;
    width: 100%;
}

/* content boxing */

.content-box {
    display: flex;
    border: 1px red solid;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}

/* guide content page */
.guide-box {
    display: flex;
    border: 1px red solid;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}

.guide-text {
    border: white solid 1px;
    width: 80vw;
    height: 40vh;
    margin: 5vh 0;
}

.image {
    border: 1px solid blue;
    width: 80vw;
    height: 40vh;

}

/* main hero image and overlay and rocket*/
#hero {
    position: absolute;
    background: url("../images/pexels-alex-andrews-816608-edited.jpg") no-repeat center / cover;
    height: 18rem;
    width: 100%;
}

/* footer */
footer {
    background-color: rgb(44, 43, 43);
    height: 3rem;
    width: 100%;
    z-index: 3;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}

footer ul li {
    margin-top: 0.25rem;
    font-size: 2.3rem;
}

/* small phones and larger */


/* tablets and larger */
@media screen and (min-width: 768px) {


}