* {
    padding: 0;
    margin: 0;
    color: slategrey;
    box-sizing: border-box;
}

/* color themes: 
#27172f dark purple
#8385a5 gray
#313d53 dark blue
black <-- black duh
*/

/* utility class */
.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

/* body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
header {
    background-color: #27172f;
    width: 100%;
}

nav {
    position: relative
}

header h1 {
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    min-width: 180px;
    font-size: 2rem;
}

header ul {
    padding: 0.5rem;
    margin-top: 0.7rem;
    display: flex;
    list-style: none;
    background-color: black;
}

header ul li {
    padding: 0 0.4rem;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: black;
    width: 100%;
}

div {
    height: 13rem;
    width: 13rem;
}

/* content boxing */
.content-box {
    display: flex;
    column-count: 1;
}

/* index-content */
.index-content {
    margin-top: 15rem;
    background-color: #27172f;
    height: 19rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.index-content div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

#index-div {
    height: 5rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

/* guide content page */
.guide-text {

}

.image {

}

/* main hero image and overlay and rocket*/
#hero {
    position: absolute;
    background: url("../images/pexels-alex-andrews-816608-edited.jpg") no-repeat center / cover;
    height: 15rem;
    width: 100%;
}

.hero-overlay {
    position: absolute;
    height: 15rem;
    width: 100%;
    opacity: 0.25;
    z-index: 3;
}

#rocket {
    position: absolute;
    width: 100%;
    opacity: 0.6;
    height: 10.3rem;
    margin-top: 2.5rem;
    border: none;
}

/* footer */
footer {
    background-color: rgb(44, 43, 43);
    height: 3rem;
    width: 100%;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}

footer ul li {
    margin-top: 0.25rem;
    font-size: 2.3rem;
}

/* tablets and larger */
@media screen and (min-width: 768px) {
    /* increased font-size */
        * {
            padding: 0;
            margin: 0;
            color: slategrey;
            box-sizing: border-box;
            font-size: 110%;
        }

    /* made index-content into row */
    .index-content {
        margin-top: 15rem;
        background-color: #27172f;
        height: 13rem;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}